* {
    margin: 0;
    padding: 0;
}


/* formatação da pagina inicial GEMIC */


/* configurando a imagem de fundo  */

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(laptop.jpg);
    background-size: cover;
    background-position: center;
}


/* configurando a barra de navegação */

.barranavegacao {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* configuração do logo */

.logo {
    width: 170px;
    cursor: pointer;
}


/* configurando os itens da barra de navegação */

.barranavegacao ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.barranavegacao ul li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

.barranavegacao ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #75F8FA;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.barranavegacao ul li:hover:after {
    width: 100%;
}


/* configurando o content */

.content {
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}


/* configurando o titulo */

.titulo {
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* configurando o texto do content */

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: sans-serif;
}


/*configurando o botão de ir para tela de cadastro */

button {
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #75F8FA;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, transparent 50%, #75F8FA 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}

button:hover {
    background-position: right;
    color: #000;
}


/* configurando o slide (letras que mexem) */

.slide {
    color: #75F8FA;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slide 6s linear infinite;
}

@keyframes slide {
    0% {
        margin-top: -400px;
    }
    5% {
        margin-top: -200px;
    }
    30% {
        margin-top: -200px;
    }
    35% {
        margin-top: 0px;
    }
    65% {
        margin-top: 0px;
    }
    70% {
        margin-top: 200px;
    }
    100% {
        margin-top: 200px;
    }
}


/* formatação do rodapé */


/* configurando conteudo do rodape */

.conteudo {
    max-width: 1170px;
    margin: auto;
}


/*configurando as linhas do rodape*/

.linha {
    display: flex;
    flex-wrap: wrap;
}


/* deixando a lista sem bolinha*/

ul {
    list-style: none;
}


/* configuração do footer (rodape) */

.rodape {
    background-color: #24262b;
    padding: 40px 0;
    margin-top: 40px;
}

.rodape-col {
    width: 25%;
    padding: 0 15px;
}

.rodape-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.rodape-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #75F8FA;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}


/* configurando listas e transições  */

.rodape-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.rodape-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.rodape-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.rodape-col .redes a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all0.5s ease;
}

.rodape-col .redes a:hover {
    color: #24262b;
    background-color: #fff;
}


/* Deixando a pagina responsiva */